:root {
    --color-fuente: #000;
    --color-fondo: #fafafa;
    --color-fuente2: rgb(115, 119, 114);
    font-family: "Avenir-Roman";
  }
  
  body {
    background-color: var(--color-fondo);
    color: var(--color-fuente);
    font-family: "Avenir-Roman";
    margin: 0 5%;
  
  }

  .narrativa {
    font-size: 16px;
    color: var(--color-fuente);
    text-align: justify;
    line-height: 18px;
  }

  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }
  h2 {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
  }
  h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }

  .logo{
    border-radius: 50%;
  }
  .icon{
    
  border-radius: 50%;
  }

  .iconos {
    max-width: 100%;
    display: block;
    overflow: auto;
    float: left;
    padding: 0px;
    margin-right: 2%;
    margin-bottom: 0.5%;
  }

  .pruebas {
    width: 100%;
    display: block;
    background-image: none;
  }

  /* .active {
    background-color: rgb(212, 216, 0);
  } */
  .cpr {
    text-align: center;
  }
